<?php 

$env['URL'] = 'http://ebge.test/';

// PAGSEGURO
$env['PAGSEGURO']['ENV'] = 'sandbox';
$env['PAGSEGURO']['EMAIL'] = 'ebge@ebgesc.com.br';
$env['PAGSEGURO']['TOKEN'] = 'A07D3219B03D4977983ABA0875E648E3';
$env['PAGSEGURO']['PRIVATE_TOKEN'] = 'CF5BD34166C34FA0A2195C1BA3B5F81';


// DATABASE
$env['DB']['HOSTNAME'] = 'localhost';
$env['DB']['USERNAME'] = 'root';
$env['DB']['PASSWORD'] = 'root';
$env['DB']['DATABASE'] = 'ebge';