.admin-user-info ul li{
	color: white;
}

.ck-editor .ck-content{
  height: 350px;

}

.pagination .btn-info {
    color: #ffffff !important;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.form-pesquisa-empresas {
    margin: 30px 0 0;
}